#container {
    height: 550px;
    max-width: 500px;
    padding: 30px 0;
    border-radius: 20px;
    margin: auto;
}

.inputContainer {
    border: solid;
    border-color: grey;
    margin: auto;
    padding: 30px;
}

.textField {
    border: solid;
    border-color: grey;
    margin: 20px auto;
    height: 30px;
    resize: horizontal;
    overflow: auto;
    width: 300px;
    padding: 5px;
}

.button {
    background-color: #d3d3d3;
    border-radius: 10px;
    margin-left: 25px;
    width: 70px;
    height: 45px;
    padding: 5px;
    cursor: pointer;
    text-decoration-color: grey;
}

#outputContainer {
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
}

#outputContainer .outputbox {
    max-width: 80px;
    background-color: #d3d3d3;
    margin: 14px;
    justify-content: center;
}

.character {
    max-width: 80px;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 10px;
}

.characterCount {
    width: 50px;
    height: 20px;
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 10px;
}
